# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
h2o_env/
tpot_env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Environment variables
.env

# Build files
build/
dist/

# Python cache
.pytest_cache/
.mypy_cache/

# Temporary files
*.tmp
